
<div class="container">
	<%= image_tag("Logo.png", class: "image-responsive") %>

	<h1 class="statement1">Making the world sweeter. The marketplace for confectionery</h1>
</div>  




<div class ="containerform">
    <div class= "form-inline">
      <form action="https://kandyo.us18.list-manage.com/subscribe/post?u=7a4210beae9e234b84bc7ff77&amp;id=1b2c57f965" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" validate>   


        <h2 class="statement2">Want to buy or sell candy? We can’t wait to launch, be the first ones to know!</h2>


        <div class="form-group">
          <input type="email" name="EMAIL" class="form-control" id="email1" placeholder="Your Email Address" required="required">

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a4210beae9e234b84bc7ff77_1b2c57f965" tabindex="-1" value="" >
          </div>

          <button type="submit" class="btn btn1">Notify me!</button>
         </div>
       </form>

     

</div>		



