<div class="container">
  <%= image_tag("Logo.png", class: "image-responsive") %>

  <h1 class="statement1">Thank you for signing up! </h1>

  <br>Keep updated with our social media below. </br>

  <br>If you're interested in working with us, send us an email</br>
</div>  


      

</div>    
